<img src="../assets/equipe.jpg">
<ol>
<h2>
    Activité du laboratoire
</h2>

    <li><h3>Les Activité du laboratoire de Biochimie sont subdivisées en :</h3></li>
    <ul>
        <li>
            Unité d’accueil et de prélèvements sanguins : adhérée au laboratoire de Biochimie<br>
        </li>
        Fonctionne 6j/7 et de 7h30 à 13h30 et regroupe cinq activités qui sont en liaison directe par le malade ambulatoire.<br>
        <li>
            Gestion des rendez-vous<br>
        </li>
        <li>
            Accueil des malades ambulatoires et enregistrement informatique de leurs demandes d’analyses.<br>
        </li>
        <li>
            Réception interne : réception des demandes d’analyses des malades hospitalisés acheminé depuis les différents services d’hospitalisation jusqu’au guichet réservé au niveau de l’unité « Réception ».<br>
        </li>
        <li>
            Prélèvements sanguins : cette activité est répartie sur quatre box de prélèvement à jeun et un autre réservé aux épreuves dynamiques (Glycémie Postprandiale (GPP)/ Hyper Glycémie Provoquée par voie orale ‘HGPO 75)<br>
        </li>
        <li>
            Renseignements et duplicatas
        </li><br>
    </ul>
    <li><h3>Les salles techniques</h3></li>
    <p>
        Il s’agit de quatre étapes pré-analytiques (triage, saisie et vérification de la saisie et centrifugation et une étape de l’amélioration continue (gestion des non conformités) géométriquement regroupés dans une salle de pré-analyses :
    </p>
    <ul>
        <li>
            Triage : il s’agit essentiellement de la classification des demandes d’analyse en demandes de malades hospitalisés ou ambulatoires, puis de la vérification de la conformité de ces demandes d’analyse selon le protocole indiqué par le laboratoire.
        </li>
        <li>
            Saisie Informatique : il s’agit de l’exécution informatique des demandes d’analyse sur le système Santé-Lab et l’étiquetage des tubes de prélèvements qui permet leur identification par des codes barres lisibles par l’automate d’analyse.
        </li>
        <li>
            Vérification de la saisie : c’est un double filtre pour d’éventuelles non-conformités non détectées au cours du triage ou engendrées au cours de la saisie.
        </li>
        <li>
            Centrifugation : la séparation mécanique du plasma par rapport aux autres constituants du sang.
        </li>
        <li>
            Archivage : il s’agit d’un archivage hebdomadaire des bons d’analyse pour d’éventuelles réclamations. En début de la journée l’agent responsable du tri et de l’archivage jette le contenu de la boîte portant le nom du jour correspondant pour y mettre à la fin de la matinée les nouveaux bons.
        </li>
        <li>
            Gestion des non-conformités pré analytiques post prélèvements : c’est un processus visant à diminuer l’apparition des non-conformités par la mise en place des actions préventives ou correctives. Les termes relatifs à ce processus sont définis comme suit:
        </li>
        <li>
            Non-conformité : non satisfaction d’une exigence
        </li>
        <li>
            Action corrective : action visant à éliminer la cause d’une non-conformité pour empêcher sa réapparition
        </li>
        <li>
            Action préventive : action visant à éliminer la cause d’une non-conformité potentielle pour empêcher son occurrence
        </li>
    </ul>
    <br>
</ol>
<div class="line"></div>
<img src="../assets/recherche.jpg">
<ol>
<h2>Enseignement et recherches hospitalières</h2>
    <li>
        Etudiants
    </li>
    <ul>
        <li>
            Nous accueillons annuellement une moyenne de 4 internes en pharmacie par an et 10 résidents en moyenne entre médecins et pharmaciens annuellement.
        </li>
        <li>
            Les étudiants paramédicaux formés annuellement sont de l’ordre de 120 par an.
        </li>
        <li>
            Nous accueillons aussi des étudiants en mastère (2 par an), en thèse de médecine (1 a 2 par an), en PFE(1 a 2 par an) et en thèse de science
        </li>
    </ul>
    <li>
        Laboratoires et Unités de recherche hospitaliers
    </li>
    <ul>
        <li>
            Nous faisons partie d’un laboratoire de recherche.
        </li>
    </ul>
</ol>
            