<div class="Login">
  <div class="card">
    <div class="card-body">
      <div class="card-title">Login</div>
      <form>
        <div class="form-group">
          <label>Nom d'utilisateur</label>
          <input
            class="form-control"
            [(ngModel)]="credentials.username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input
            class="form-control"
            type="password"
            [(ngModel)]="credentials.password"
            name="password"
          />
        </div>
        <div>
          <button class="btn btn-success" (click)="login()">
            Se connecter
          </button><br><br>
          <p>Si vou n'avez pas encore de compte vous pouvez-vous inscrire</p>
          <button class="btn btn-success" routerLink="/creercompte">
            S'inscrire
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
