
<div class="container">
    <div class="alert alert-success" *ngIf="!hasError && message.length >0">
        {{message}} ! Cliquez <a routerLink="/login">ici </a> pour vous connecter.
    </div>
    <div class="alert alert-danger" *ngIf="hasError && message.length > 0">
    {{message}}
    </div>
    <form >
        <fieldset>
            <legend>Vos coordonnées :</legend><br>
            <label>Nom :</label><br>
            <input class="form-control" type="text" name="nom" size="20"  maxlength="40" [(ngModel)]="patientACreer.nom_Patient" required/><br>
            <label>Prénom :</label><br>
            <input class="form-control "type="text" name="prenom" size="20" maxlength="40" [(ngModel)]="patientACreer.prenom_Patient" required/><br>
            <label>Votre age :</label><br>
            <input class="form-control" type="number" name="age" size="20" maxlength="40" [(ngModel)]="patientACreer.age" /><br>
            <label>Sexe</label><br>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="Sexe" [(ngModel)]="patientACreer.sexe"><br>
                <option value="Masculin">Masculin</option>
                <option value="Feminin" selected="selected">Feminin</option>
            </select><br>
            <label>Etes-vous obese?</label><br>
            <select name="obese" [(ngModel)]="patientACreer.obese">
                <option value="true">Oui</option>
                <option value="false" selected="selected">Non</option>
            </select><br><br>
            <label>Etes-vous en état </label><br>
            <select name="etat" [(ngModel)]="patientACreer.femme_enceinte">
                <option value="true">Oui</option>
                <option value="false" selected="selected">Non</option>
            </select><br><br>
            <label>Numéro de téléphone :</label><br>
            <input class="form-control" type="text" name="telephone" size="20" maxlength="40" [(ngModel)]="patientACreer.tel" /><br>
            <label>Nom d'utilsateur :</label><br>
            <input class="form-control" type="text" name="username" size="20" maxlength="40" [(ngModel)]="patientACreer.user.username" /><br>
            <label>Mot de passe :</label><br>
            <input class="form-control" type="password" name="password" size="20" maxlength="40" [(ngModel)]="patientACreer.user.password" /><br>
            
        </fieldset>
        <p>
            <button class="btn btn-success" (click)="creer()" >Valider</button>
        </p><br><br>
    </form>
</div>